.status-bar{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: #fcfcfc;
}

.status-bar_column{
    opacity: 0.7;
}

.status-bar i{
    font-size: 14px;
}

.status-bar .status-bar_battery-level{
    margin-left: 5px;
}